:root {
  --color-white: #fff;
  --color-black: #000;
  --color-dark-gray: #10100e;
  --color-yellow: #ff0;
  --color-blue: #6a83fb;
  --color-violet: #b706f3;
  --color-red: #f1164c;

  --border-radius-small: 3px;

  --text-shadow: 
    0 0 2px var(--color-white),
    0 0 40px var(--color-blue);

  --box-shadow:
      0 16px 24px 2px rgba(0, 0, 0, 0.5), 
      0 6px 30px 5px rgba(0, 0, 0, 0.1), 
      0 8px 10px -5px rgba(0, 0, 0, 0.2);

  --font-bold: 600;

  --font-size-header: 26px;
  --font-size-subheader: 18px;
  --font-size-main: 16px;

  --width-max: 1200px;

  --font-family-main: sans-serif;

  --spacing-ultra-small: 5px;
  --spacing-small: 10px;
  --spacing-medium: 20px;
  --spacing-large: 30px;

  --margin-list: 7px;

  --theme-jedy-header: #002aff;
  --theme-sith-header: #ff0000;
  --theme-standart-header: #f0f036;

  --theme-jedy-bgimage: linear-gradient(to top, #1925f2, #0029ba, #002381, #001949, #070816);
  --theme-sith-bgimage: linear-gradient(to top, #f21919, #cc004a, #92005e, #501a5a, #18183e);
  --theme-standart-bgimage: url(@static/death_star.jpeg);

  --theme-default-header: var(--theme-standart-header);
  --theme-default-bgimage: var(--theme-standart-bgimage);

  --transition: .4s;
}
body {
  margin: 0;
  padding: 0;
  background-color: var(--color-dark-gray);
  font-family: var(--font-family-main);
  font-size: var(--font-size-main);
  background-image: var(--theme-default-bgimage);
  background-size: cover;
  background-position: top left;
  background-repeat: no-repeat;
  background-attachment: fixed;
}
img {
  display: block;
}
.header__text {
  line-height: 1.7;
  font-size: var(--font-size-header);
  text-shadow: 0 0 2px var(--color-black);
  color: var(--theme-default-header);
  transition: color var(--transition);
}